<div class="container">
  {{#if addNewPost}}
      <h4>Add New Post</h4>
      <div class="container">
        <form id="new-post">
          <div class="form-group">
            {{input value=author id="author" class="form-control" placeholder="your name"}}
          </div>
          <div class="form-group">
            {{input value=location id="location" class="form-control" placeholder="your location"}}
          </div>
          <div class="form-group">
            {{input value=title id="title" class="form-control" placeholder="post title"}}
          </div>
          <div class="form-group">
            {{textarea form="new-post" rows="10" value=body id="body" class="form-control"  placeholder="post body"}}
          </div>
          <button {{action 'save'}} class="btn btn-primary">Save</button>
        </form>
      </div>
  {{else}}
      <button class="btn btn-primary" {{action 'postFormShow'}}>New Post</button>
  {{/if}}
</div>
