{{#if updatePostForm}}
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <form id="new-post">
      <div class="form-group">
        {{input value=author id="author" class="form-control" placeholder="new name"}}
      </div>
      <div class="form-group">
        {{input value=location id="location" class="form-control" placeholder="new location"}}
      </div>
      <div class="form-group">
        {{input value=title id="title" class="form-control" placeholder="new title"}}
      </div>
      <div class="form-group">
        {{textarea form="new-post" value=body id="body" class="form-control" placeholder="new body"}}
      </div>
      <button {{action 'updatePost' post}} class="btn btn-primary">Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updatePostForm'}} class="btn btn-warning">Edit Post</button>
{{/if}}
